## 1. Introduction
<p>Everyone loves Lego (unless you ever stepped on one). Did you know by the way that "Lego" was derived from the Danish phrase leg godt, which means "play well"? Unless you speak Danish, probably not. </p>
<p>In this project, we will analyze a fascinating dataset on every single lego block that has ever been built!</p>
<p><img src="https://s3.amazonaws.com/assets.datacamp.com/production/project_10/datasets/lego-bricks.jpeg" alt="lego"></p>

In [61]:
# Nothing to do here

## 2. Reading Data
<p>A comprehensive database of lego blocks is provided by <a href="https://rebrickable.com/downloads/">Rebrickable</a>. The data is available as csv files and the schema is shown below.</p>
<p><img src="https://s3.amazonaws.com/assets.datacamp.com/production/project_10/datasets/downloads_schema.png" alt="schema"></p>
<p>Let us start by reading in the colors data to get a sense of the diversity of lego sets!</p>

In [63]:
# Import modules
import pandas as pd

# Read colors data
colors = pd.read_csv('datasets/colors.csv')

# Print the first few rows
colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

## 3. Exploring Colors
<p>Now that we have read the <code>colors</code> data, we can start exploring it! Let us start by understanding the number of colors available.</p>

In [65]:
# How many distinct colors are available?
num_colors = len(colors)
print(num_colors)

135

## 4. Transparent Colors in Lego Sets
<p>The <code>colors</code> data has a column named <code>is_trans</code> that indicates whether a color is transparent or not. It would be interesting to explore the distribution of transparent vs. non-transparent colors.</p>

In [67]:
# colors_summary: Distribution of colors based on transparency
colors_summary = colors.groupby('is_trans').count()
colors_summary

           id  name  rgb
is_trans
f         107   107  107
t          28    28   28

## 5. Explore Lego Sets
<p>Another interesting dataset available in this database is the <code>sets</code> data. It contains a comprehensive list of sets over the years and the number of parts that each of these sets contained. </p>
<p><img src="https://imgur.com/1k4PoXs.png" alt="sets_data"></p>
<p>Let us use this data to explore how the average number of parts in Lego sets has varied over the years.</p>

In [69]:
%matplotlib inline
# Read sets data as `sets`
sets = pd.read_csv('datasets/sets.csv')

# Create a summary of average number of parts by year: `parts_by_year`
parts_by_year = sets[['year', 'num_parts']]
parts_by_year


# Plot trends in average number of parts by year

       year  num_parts
0      1970        471
1      1978         12
2      1987          2
3      1979         12
4      1979         12
5      1979         12
6      1979         18
7      1978         15
8      1976        147
9      1976        149
10     1976        126
11     1965         35
12     1985          3
13     1976          3
14     1965         57
15     1968         77
16     1968        145
17     1968        110
18     1999         70
19     1968        177
20     1968        225
21     1968        256
22     1968        407
23     1967        710
24     1969        615
25     2001        256
26     2001        785
27     2001        272
28     2001        100
29     2001        100
...     ...        ...
11836  2014          2
11837  1991          3
11838  2012         -1
11839  2012         15
11840  2013         17
11841  1995          3
11842  2003          4
11843  2000          3
11844  2000          2
11845  1995          3
11846  1998          2
11847  2000          3
11848  1985          0
11849  2001          2
11850  2000          2
11851  2000          3
11852  1997          3
11853  2006          3
11854  1997          3
11855  2000          2
11856  2003          4
11857  1959         22
11858  2006          0
11859  2009          0
11860  2013         15
11861  2012         15
11862  2015         59
11863  2010        146
11864  2013         28
11865  1996          3

[11866 rows x 2 columns]

## 6. Lego Themes Over Years
<p>Lego blocks ship under multiple <a href="https://shop.lego.com/en-US/Themes">themes</a>. Let us try to get a sense of how the number of themes shipped has varied over the years.</p>

In [79]:
# themes_by_year: Number of themes shipped by year
themes_by_year = sets[['year', 'theme_id']].groupby(['year']).sum()

themes_by_year

      theme_id
year
1950      2592
1953      1484
1954      5196
1955     10519
1956      4582
1957      7790
1958     15587
1959      1480
1960      1381
1961      6585
1962     11762
1963      7356
1964      4346
1965      3843
1966     31676
1967      7386
1968      8441
1969     22969
1970     11142
1971     18668
1972     14521
1973     29492
1974     15134
1975     11507
1976     26873
1977     36240
1978     13316
1979     14728
1980     23681
1981     25412
...        ...
1988     14954
1989     31193
1990     21478
1991     25494
1992     22900
1993     25728
1994     26926
1995     32559
1996     39814
1997     50184
1998     93232
1999     72473
2000     74272
2001     81155
2002    150827
2003    116408
2004    100360
2005     75012
2006     70393
2007     73811
2008     81620
2009     99561
2010    127655
2011    161727
2012    222865
2013    211775
2014    289750
2015    276341
2016    253351
2017    201661

[66 rows x 1 columns]

## 7. Wrapping It All Up!
<p>Lego blocks offer an unlimited amount of fun across ages. We explored some interesting trends around colors, parts, and themes. </p>

In [73]:
# Nothing to do here